<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please fill out the form to register</h3>
	</div>
	<div class="panel-body">
		<form class="form" role="form" name="regForm" ng-submit="submit(user)" novalidate>

			<div class="form-group" ng-class="{'has-success': (regForm.ssn.$valid), 'has-error': (regForm.ssn.$invalid && regForm.ssn.$touched)}">
				<label for="ssn" class="control-label">Social security number, a.k.a. "personnummer":</label>
				<input name="ssn" validate-ssn placeholder="YYMMDD-XXXX" type="text" required id="ssn" class="form-control" ng-model="user.ssn" />
				<div ng-messages="regForm.ssn.$error" ng-if="regForm.ssn.$touched">
					<p class="help-block" ng-message="required">Social security number is required</p>
					<p class="help-block" ng-message="invalidSSN">Invalid format.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-success': (regForm.email.$valid), 'has-error': (regForm.email.$invalid && regForm.email.$touched)}">
				<label for="email" class="control-label">email:</label>
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input name="email" type="email" required id="email" class="form-control" ng-model="user.email" />
				</div>
				<div ng-messages="regForm.email.$error" ng-if="regForm.email.$touched">
					<p class="help-block" ng-message="email">Hmm, that doesn't look like a valid email address</p>
					<p class="help-block" ng-message="required">Email is required</p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-success': (regForm.confirmEmail.$valid), 'has-error': (regForm.confirmEmail.$invalid && regForm.confirmEmail.$touched)}">
				<label for="confirmEmail" class="control-label">Confirm email:</label>
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input type="email"
						   class="form-control"
						   ng-model="confirmEmail"
						   id="confirmEmail"
						   name="confirmEmail"
						   compare-to="user.email"
						   required
					/>
				</div>
				<div ng-messages="regForm.confirmEmail.$error" ng-if="regForm.email.$valid && regForm.confirmEmail.$dirty">
					<p class="help-block" ng-message="compareTo">Email addresses do not match</p>
				</div>
			</div>


			<div class="form-group" ng-class="{'has-success': (regForm.password.$valid), 'has-error': (regForm.password.$invalid && regForm.password.$touched)}">
				<label for="password" class="control-label">password:</label>
				<input name="password" placeholder="Mimimum 8 characters long" type="password" required ng-minlength="8" id="password" class="form-control" ng-model="user.password" />
				<div ng-messages="regForm.password.$error" ng-if="regForm.password.$touched">
					<p class="help-block" ng-message="minlength">Your password needs to be at least 8 characters long</p>
					<p class="help-block" ng-message="required">You forgot to fill in the password</p>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-success': (regForm.confirmPassword.$valid), 'has-error': (regForm.confirmPassword.$invalid && regForm.confirmPassword.$touched)}">
				<label for="confirmPassword" class="control-label">Confirm password:</label>
				<input name="confirmPassword" placeholder="Confirm password" type="password" compare-to="user.password" required id="confirmPassword" class="form-control" ng-model="confirmPassword" />
				<div ng-messages="regForm.confirmPassword.$error" ng-if="regForm.password.$valid && regForm.confirmPassword.$dirty">
					<p class="help-block" ng-message="compareTo">Passwords do not match</p>
					<p class="help-block" ng-message="required">You forgot to confirm your password</p>
				</div>
			</div>

			<div class="form-group">
				<button ng-disabled="regForm.$invalid" class="btn btn-primary pull-right">register</button>
			</div>

		</form>
	</div>
</div>
